/Tercer Semestre/POO-2/Clases/23-03-25/ShopOnline/dist/
/Tercer Semestre/POO-2/Clases/13-05-25/CappuccinoRefactored/nbproject/private/
/Tercer Semestre/POO-2/FilmExe_db/nbproject/private/
/Tercer Semestre/POO-2/FilmExe_db/build/
/Tercer Semestre/POO-2/FilmExe/nbproject/private/
